In [4]:
import os
import numpy as nup
from netCDF4 import Dataset
import pandas as pd

In [8]:
directory_name = r"E:\BaiduNetdiskDownload\solar radiation\2018\ISCCP_HXG_global_radiation_2018_01_monthly.nc"
# for filename in os.listdir(directory_name):
nc_file = directory_name
nc_obj = Dataset(nc_file)
data = nc_obj['monthly_global_radiation'][:]
df = pd.DataFrame(data)
df
    # print(data)

,0,1,2,3,4,5,6,7,8,9,...,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,363,363,363,363,363,363,363,363,363,363,...,397,397,397,397,398,398,398,398,398,398
1796,356,356,356,356,356,356,356,355,355,355,...,398,398,398,398,396,396,396,396,396,396
1797,355,355,355,355,355,355,355,355,355,355,...,395,395,395,395,395,395,395,395,395,395
1798,339,339,339,339,339,339,339,339,339,339,...,396,396,396,396,396,396,396,396,396,396
1799,338,338,338,338,338,338,338,338,338,338,...,395,395,395,395,395,395,395,395,395,395